name: Lint
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:    
  style:
    name: Check style with ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.10
      - name: style
        run: |
          pip3 install ruff==0.3.5
          ruff check .
          ruff format --check .

  pyright:
    name: Typechecking with pyright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.10
      - name: pyright
        run: |
          pip install pyright .
          pyright